body {
    font-family: 'Courier New', Courier, monospace;
}


/* before accessing the home papge */

#page-loading {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: #0e7807ff;
    background-image: url("Img/animation_300_l7fstt6x.gif");
    background-repeat: no-repeat;
    background-position: center;
}

.content-loading {
    bottom: 1rem;
    position: absolute;
    padding: 2rem;
    text-align: center;
    width: 70%;
    margin-left: 6rem;
    margin-right: 3rem;
    font-size: 2.5em;
    font-weight: bold;
}


/* before accessing home page ends here
 */


/* hidding elements visually */

.hide-element {
    border: 0;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}


/* hiding elemnts visually ends here */

.menu-buttons {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

button[data-state="active"] {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    display: block;
}

#play-btn {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7rem;
    padding: 1rem 4rem;
    font-size: larger;
    background-color: aquamarine;
    cursor: pointer;
}


/* button[data-state="inactive"] {
    display: none;
} */