body {
    font-family: 'Courier New', Courier, monospace;
}


/* before accessing the home papge */

#page-loading {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: #0e7807ff;
    background-image: url("Img/animation_300_l7fstt6x.gif");
    background-repeat: no-repeat;
    background-position: center;
}

.content-loading {
    bottom: 1rem;
    position: absolute;
    padding: 2rem;
    text-align: center;
    width: 70%;
    margin-left: 6rem;
    margin-right: 3rem;
    font-size: 2.5em;
    font-weight: bold;
}


/* before accessing home page ends here
 */